<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      お土産データ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header *ngIf="!isIos()">
    <ion-toolbar>
      <app-search-souvenires></app-search-souvenires>
    </ion-toolbar>
  </ion-header>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">お土産データ</ion-title>
    </ion-toolbar>
    <ion-toolbar>
    <app-search-souvenires></app-search-souvenires>
  </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="souvenires$ | async as souvenires" >
      <ion-list>
        <app-list-souvenires    
          *ngFor="let souvenir of souvenires"
          [souvenir]="souvenir"
        ></app-list-souvenires>
      </ion-list>
  </div>
</ion-content>

